body {
    font-family: Arial, sans-serif;
    font-weight: bold; /* 일반 글씨를 굵게 표시 */
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
    font-size: 2em; /* 글자 크기를 크게 설정 */
}
.container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}
.section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* 모바일에서 컬럼 형태로 정렬 */
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.section:last-child {
    border-bottom: none;
}
.column {
    width: 100%; /* 모바일에서 컬럼 너비를 100%로 설정 */
    margin-bottom: 10px;
}
.column h2 {
    font-size: 1.5em; /* 글자 크기를 크게 설정 */
}
.column h3 {
    margin-bottom: 10px;
    font-size: 1.2em; /* 글자 크기를 크게 설정 */
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
button {
    padding: 20px 40px;  /* 세로 크기를 두 배로 늘리고, 버튼이 더 커지도록 함 */
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;  /* 글자를 더 크게 함 */
}
button:hover {
    background-color: #555;
}
.admin-link {
    display: block;  /* 블록 요소로 설정하여 전체 너비를 차지하게 함 */
    margin-top: 20px;
    padding: 20px 40px;  /* 세로 크기를 두 배로 늘리고, 버튼이 더 커지도록 함 */
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;  /* 글자를 더 크게 함 */
    text-align: center;
}
.admin-link:hover {
    background-color: #555;
}
.buttons {
    display: flex;
    flex-direction: column; /* 모바일에서 컬럼 형태로 정렬 */
    justify-content: space-between;
    align-items: center;
}
.buttons a, .buttons button {
    width: 100%; /* 버튼 너비를 100%로 설정 */
    margin-bottom: 10px; /* 버튼 간격 추가 */
}

/* 반응형 디자인 적용 */
@media (min-width: 768px) {
    .section {
        flex-direction: row; /* 데스크탑에서 로우 형태로 정렬 */
    }
    .column {
        width: 45%; /* 데스크탑에서 컬럼 너비를 45%로 설정 */
    }
    .buttons {
        flex-direction: row; /* 데스크탑에서 로우 형태로 정렬 */
    }
    .buttons a, .buttons button {
        width: auto; /* 데스크탑에서 버튼 너비를 자동으로 설정 */
        margin-bottom: 0; /* 버튼 간격 제거 */
    }
}
