body {
    font-family: Arial, sans-serif;
    font-weight: bold; /* 일반 글씨를 굵게 표시 */
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
.container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}
.section {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.section:last-child {
    border-bottom: none;
}
.column {
    width: 45%;
}
.column h2, .column h3, .column p, .column ul, .column li {
    font-size: 1.5em; /* 규칙, 순번, 관전, 시각 열의 모든 글씨 크기 설정 */
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
button {
    padding: 20px 40px;  /* 세로 크기를 두 배로 늘리고, 버튼이 더 커지도록 함 */
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5em;  /* 글자를 더 크게 함 */
}
button:hover {
    background-color: #555;
}
.admin-link {
    display: block;  /* 블록 요소로 설정하여 전체 너비를 차지하게 함 */
    margin-top: 20px;
    padding: 20px 40px;  /* 세로 크기를 두 배로 늘리고, 버튼이 더 커지도록 함 */
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em;  /* 글자를 더 크게 함 */
    text-align: center;
}
.admin-link:hover {
    background-color: #555;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
